body {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  margin: 0px !important;
  padding: 0px;
}

#header {
  display:flex;
  justify-content: space-between;
  width: 100%;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  /* border: 5px solid black; */
  position: fixed;
}

#header .header-logo{
  display: inline-block;
}
#header h1{
  display: inline-block;
  color: #7a6960;
  font-size: 30px;
  margin-top: 15px;
  margin-left: 20px;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 2px;
  /* border: 5px solid red; */
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  /* border: 5px solid blue; */
}

.navbar a {
  padding: 10px 0 10px 30px;
  font-size: 15px;
  color: #4e4039;
  white-space: nowrap;
  text-decoration: none;
}

.navbar ul {
  margin: 0px 0px 0px -15px;
  padding: 0px 0px 0px 0px;
  display: flex;
  list-style: none;
  align-items: center;
  /* border: 5px solid orange; */
}

.navbar .active{
  color: #eb5d1e;
}

.navbar .get-btn-nav{
    background: #eb5d1e;
    color: #fff;
    padding: 10px 25px;
    margin-left: 30px;
    border-radius: 50px;
}
.navbar li {
  position: relative;
}

#nav-toggle{
  display: none;
}

@media screen and (max-width: 931px){
  #nav-toggle{
    margin-top: 13px;
    margin-right: 33px;
    font-size: 34px;
    display:block;
    color: #7a6960;
    cursor: pointer;
  }
  .navbar{
    display: none;
  }
}

/* ======= Home =======  */

section {
  padding: 60px 0;
  /* overflow: hidden; */
}

#home {
  padding-top: 20px;
  background: #fef8f5;
  border-bottom: 2px solid #fcebe3;
  /* border: 2px solid black; */
}

.home {
  align-items: center !important;
  /* display: flex !important; */
}

#home h1 {
  margin: 0;
  font-size: 47px;
  font-weight: 700;
  line-height: 49px;
  color: #4e4039;
  display: inline-block;
}

#home h2 {
  color: #a08f86;
  margin: 15px 0 0 0;
  font-size: 24px;
  display: inline-block;
}

.home-container {
  margin-top: 50px;
 margin-left: 12px;

  /* border: 2px solid green; */
}

.home-area {
  /* margin-top: 20px; */
  /* padding-top: 30px; */
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  padding-bottom: 20px;
  padding-top: 48px;
  margin-top: 10px;
  margin-right: 12px;
  margin-left: 12px;
  position: relative;
  /* justify-content: space-around !important; */
  /* border: 2px solid red; */
}

.home-about-area {
  justify-content: center;
}

.home-content {
  display: inline-block;
  width: 36%;
  /* border: 2px solid violet; */
}

.home-btn {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 3px;
  margin-top: 40px;
  color: #fff;
  background-color: #eb5d1e;
  border: none;
}

.home-image {
  display:inline-block;
  width: 35%;
  padding-left: 25px;
 /* border: 2px solid brown; */
}

.home-image-1 {
  width: 100%;
}

/* ========RWD======= */

@media (max-width:1245px) { 
  .home-content {
    width: 100%;
    margin-bottom: 5px;
   }
  #home h1{
    font-size: 48px;
    line-height: 1.0;
  }
   #home h2 {
    font-size: 23px;
  }
  .home-btn {
    font-size: 20px;
    letter-spacing: 1px;
    padding: 7px 9px;
    margin-top:36px;
  }
  .home-image{
    width: 100%;
    height:50vh;
    padding: 0px;
    margin: 0px;
  }
  .home-image-1{
    height:100%;
  }
} 

@media (max-width:768px) {
  #home h1{
    font-size: 40px;
    line-height: 1.0;
  }
   #home h2 {
    font-size: 20px;
  }
} 
 
@media (max-width:400px) {
   #home h1{
    font-size: 32px;
  }
  #home h2 {
    font-size: 15px;
    line-height: 1.3;
  }
  .home-btn {
    font-size: 10px;
    padding: 5px 3px;
    border-radius: 3px;
    margin-top: 20px;
  }
  .home-area{
    padding-bottom: 0px;
    margin-bottom: -50px;
  }
}
/* 
RWD ABOUT */


/* @media (max-width:1246px) {

  #about{
    height: 100vh;
  }

.about-container{
height: 90vh;
}
.about-area{
height: 80vh;
}
} */


/* =======About Us =======  */
#about {
  /* border: 5px solid black; */
  padding-top: 5px;
}


.about-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* border: 5px solid green; */
}

.about-image {
  display: inline-block;
  width: 34%;
  
  margin-left: 30px;
  padding-left: 25px;
  padding-top: 45px;
  /* border: 5px solid pink; */
}

.about-image-1 {
  width: 100%;
}

.about-content {
  width: 48%;
  display: flex !important;
  flex-direction: column !important;
  padding-left: 10px;
  /* border: 5px solid blue; */
}

.about-heading {
  display: inline-block;
  font-size: 44px;
}

.about-column {
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  /* border: 5px solid violet; */
}

.about-column-1 {
  word-wrap: break-word;
  width: 47%;
  /* border: 5px solid orange; */
}

.about-column-1 h4 {
  margin-top: 8px;
  display: inline-block;
  font-size: 22px;
  color: #7a6960;
}

.about-column-1 p {
  display: inline-block;
  margin-top: -21px;
}



.about-column-2 {
  word-wrap: break-word;
  width: 47%;
  
  /* border: 5px solid yellow; */
}

.about-column-2 h4 {
  margin-top: 8px;
  display: inline-block;
  font-size: 22px;
  color: #7a6960;
}

.about-column-2 p {
  display: inline-block;
  margin-top: -21px;
}

.about-column-1 img{
  display: block;
}
.about-column-2 img{
  display: block;
}
/* =====About-RWD=== */

@media (max-width:1090px){
  #about{
    width: 80%;
    margin-left: 50px;
  }
  .about-image{
    width: 62%;
    margin-left: 73px;
    align-items: center;
  }
 
  .about-heading {
    display: inline-block;
    font-size: 38px;
  }
  
  .about-area{
    flex-direction: column;
  }
  .about-content{
    display: block;
    width: 100%;
    justify-content: space-between;
  }
  .about-column-1{
    width: 50%;
  }
  .about-column-2{
    width: 50%;
  }
}

@media (max-width:768px){
  .about-column-1 p{
    font-size: 15px;
  }
  .about-column-2 p{
    font-size: 15px;
  }
  .about-column-1 h4{
    font-size: 20px;
  }
  .about-column-2 h4{
    font-size: 20px;
  }

  .about-image{
    width: 77%;
    margin-left: 3px;
  }
  .about-heading {
    display: inline-block;
    font-size: 29px;
  }

  .about-column-1 {
    /* display: flex; */
    word-wrap: break-word;
    width:100%;
    display:block;
    /* border: 5px solid orange; */
  }
  .about-column-2{
    /* display:flex ; */
    margin-top: 10px;
    word-wrap: break-word;
    width: 100%;
    display: block;
    /* border: 5px solid orange; */
  }
  .about-column {
    display: flex !important;
    flex-direction:column;
    justify-content: space-between;
    /* border: 5px solid violet; */
  }
  
}

@media (max-width:480px){
  .about-image{
    width:90%;
    margin-left: -6px;
  }
}

@media (max-width:417px){
  .about-heading{
    font-size: 23px;
  }

  .about-column-1 p{
    font-size: 13px;
  }
  .about-column-2 p{
    font-size: 13px;
  }
  .about-column-1 h4{
    font-size: 18px;
  }
  .about-column-2 h4{
    font-size: 18px;
  }

}

@media (max-width:340px){
  .about-image{
    width:90%;
    margin-left: -28px;
  }
  .about-heading{
    font-size: 20px;
  }
  
  .about-column-1 p{
    font-size: 13px;
  }
  .about-column-2 p{
    font-size: 13px;
  }
  .about-column-1 h4{
    font-size: 15px;
  }
  .about-column-2 h4{
    font-size: 15px;
  }
}


@media (max-width:294px){
  .about-image{
    width:100%;
    margin-left: -10px;
  }
  #about{
    /* width: 80%; */
    margin-left: 20px;
  }
  .about-heading{
    font-size: 16px;
  }
  
  .about-column-1 p{
    font-size: 13px;
  }
  .about-column-2 p{
    font-size: 13px;
  }
  .about-column-1 h4{
    font-size: 16px;
  }
  .about-column-2 h4{
    font-size: 16px;
  }
}

@media (max-width:230px){
  .about-image{
    width:100%;
    margin-left: -25px;
  }
  #about{
    /* width: 80%; */
    margin-left: 20px;
  }
  .about-heading{
    font-size: 15px;
  }
  
  .about-column-1 p{
    margin-top: -11px;
    font-size: 11px;
  }
  .about-column-2 p{
    margin-top: -11px;
    font-size: 11px;
  }
  .about-column-1 h4{
    font-size: 14px;
  }
  .about-column-2 h4{
    font-size: 14px;
  }
}
/* @media (max-width:1245px) { 
  .about-content{
    width: 90%;
  }
  .about-content h3{
    font-size: 38px;
  }
  .about-image{
    width: 90%;
  }
  .about-column-1{
    line-height: 1.0;
    font-size: 18px;
  }
  .about-column-2{
    line-height: 1.0;
    font-size: 18px;
  }
  .about-column-1 h4{
    font-size:25px;
  }
  .about-column-2 h4{
    font-size:25px;
  }
}
@media (max-width:1004px) { 
  .about-content{
    width: 90%;
  }
  .about-content h3{
    font-size: 38px;
  }
  .about-image{
    width: 90%;
  }
  .about-column-1{
    line-height: -0.1;
    font-size: 15px;
  }
  .about-column-2{
    line-height: -1.1;
    font-size: 15px;
  }
  .about-column h4{
    font-size: 22px;
  }
}

@media (max-width:640px){
.about-content h3{
  font-size: 24px;
}
} 

@media (max-width:546px){
  .about-column{
    width: 90%;
    height: 60vh;
    flex-direction: column;
  }
  .about-column-1{
    width: 90%;
    font-size: 18px;
   }
  .about-column-2{
    width: 90%;
    font-size: 18px;
   }
.about-column-1 h4{
  font-size: 23px;
}
.about-column-2 h4{
  font-size: 23px;
}
}


  @media (max-width:400px){
    .about-content h3{
      font-size: 20px;
    }
    .about-column-1{
      font-size: 15px;
     }
    .about-column-2{

      font-size: 15px;
     }
  .about-column-1 h4{
    font-size: 18px;
  }
  .about-column-2 h4{
    font-size: 18px;
  }
  } 
 
  @media (max-width:351px){
    .about-content h3{
      font-size: 18px;
    }
  .about-column-1 h4{
    font-size: 15px;
  }
  .about-column-2 h4{
    font-size: 15px;
  }
  .about-column-1{
    width: 90%;
  }
  .about-column-2{
    width: 90%;
  }
} */
/* # Services */
#services {
  background-color: #fef8f5;
  margin:0px;
  display: flex !important;
  align-items: center;
  padding: 5px 20px 5px 0px;
  overflow: hidden;
  /* border: 5px solid black; */
}

.service-container {
  display: flex;
  flex-direction: column;
  /* width: 97%;
  height: 70vh; */
  padding-top: 0px;
  padding-bottom: 48px;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 0px;
  /* border: 5px solid brown; */
}

.service-img-div {
  margin-left: auto;
  margin-right: auto;
}

.section-title {
  margin-top: 4px;
  text-align: center;
  padding-bottom: 0px;
  margin-bottom: 0px;
  /* border:5px solid blue; */
  /* height: 11vh; */
}

.section-title h2 {
  font-size: 23px;
  color: #c2b7b1;
  line-height: 1.0px;
}

.section-title p {
  padding-bottom: 0px;
  margin-bottom: -2px;
  position: relative;
  font-size: 32px;
  font-weight: 700;
  color: #4e4039;
  margin-top: 0;
  /* border: 5px solid red; */
}

#services hr {
  width: 5%;
  align-items: center;
  border: 4px solid #ef7f4d;
  border-bottom: none;

}

.services-card-row {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: row; */
  margin:0px;
  padding: 24px 50px 0px 50px;
  justify-content: space-evenly;
  /* border: 5px solid pink; */
}

.service-card-column {
  padding: 10px;
  display: flex !important;
  flex-wrap: wrap;
  flex-direction: column;
  /* align-items: stretch !important; */
  width: 20%;
  background-color: white;
  border-radius: 20px;
  box-shadow: 5px white;
  /* border: 5px solid greenyellow; */
}

.services-card-heading {
  text-align: center;
  font-weight: 600;
  margin-top: -2px;
  font-size: 19px;
  border: 2px soild black;
}

.services-card-para {
  margin-top: -21px;
  display: inline-block;
  text-align: center;
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 0;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 26px;
}

/* =====SERVICES-RWD==== */

@media (max-width:768px){
  .section-title h2 {
    font-size: 23px;
    color: #c2b7b1;
    line-height: 1.0px;
  }
  
  .section-title p {
  
    font-size: 23px;
    font-weight: 700;
    color: #4e4039;
   
  }
  
  #services hr {
    width: 5%;
    align-items: center;
    border: 4px solid #ef7f4d;
    border-bottom: none;
  
  }
  .service-card-column{
    padding: 25px;
    width: 100%;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
  }

  .service-card-column h4{
  font-size: 24px;
  margin-top: 8px;
  margin-bottom: 0px;
}
.services-card-para{
  margin-top: -5px;
  font-size: 16px;
  line-height: 25px;
}
}



@media (max-width:457px){
  .section-title h2 {
    font-size: 20px;
    color: #c2b7b1;
    line-height: 1.0px;
  }
  
  .section-title p {
  
    font-size: 20px;
    font-weight: 700;
    color: #4e4039;
   
  }
  
  #services hr {
    width: 8%;
    align-items: center;
    border: 4px solid #ef7f4d;
    border-bottom: none;
  
  }

  .service-card-column h4{
  font-size: 22px;
  margin-top: 8px;
  margin-bottom: 0px;
}
.services-card-para{
  margin-top: -5px;
  font-size: 14px;
  line-height: 24px;
}
}
@media (max-width:400px){
  .services-card-row {
    padding: 24px 24px 0px 50px;
}

.section-title p{
  font-size: 16px;
}
.section-title h2{
  font-size: 15px;
}
.service-card-column h4{
  font-size: 19px;
}
}
 
/* <!-- ======= Portfolio Section =======  */

#portfolio {

  display: flex !important;
  align-items: center;
  /* padding: 5px 36px 5px 0px; */
  overflow: hidden;
  /* border: 5px solid black; */
}

.portfolio-container-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0px;
  padding:0px
  /* border: 5px solid brown; */
}

.portfolio-col {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding:0px;
  /* border: 5px solid green; */
}

.portfolio-list {
  display: flex;
  list-style-type: none;
  justify-content: center;
  /* padding-left: 0px; */
  /* margin-left: -40px; */
  /* align-items: center; */
  color: #000;
  font-weight: 20px;
  /* justify-content: space-between; */
}

.portfolio-list li {
  padding-left: 20px;
  padding-right: 17px;
}


.portfolio-heading {
  margin: auto;
  font-size: 32px;
}

.active-port {
  color: #ef7f4d;
}

.portfolio-container {
  display: flex;
  flex-wrap: wrap;
  /* margin: 30px 50px 65px 50px; */
  padding: 35px 35px 0px 35px;
  /* padding: 10px; */
  /* border: 5px solid pink; */
  justify-content: space-around;
}



.portfolio-box {
  display: flex !important;
  width: 30%;
 /* height: 55vh; */
  margin: 0px;
  padding: 0px;
  border-radius: 15px;
  box-shadow: 5px white;
  /* border: 5px solid greenyellow; */
}

.portfolio-box img {
  width: 100%;
}

/* =====portfolio-rwd====== */

@media (max-width:768px){
  .portfolio-col{
    display: inline-block;
  }
 
  .portfolio-list li {
    padding-left: 10px;
    padding-right: 20px;
  }

  .portfolio-container{
    margin:0px;
    padding: 0px; 
    width: 100%;
    display: flex;
    flex-direction: column;
  }
    .portfolio-box{
      margin: auto;
     margin-bottom: 20px;
     width: 50%;
    }
  
  }
  @media (max-width:341px){
    .portfolio-box{
      margin: auto;
     margin-bottom: 20px;
     width: 55%;
    }
  }

  @media (max-width:326px){
    .portfolio-box{
      margin: auto;
     margin-bottom: 20px;
     width: 70%;
    }
  
  .portfolio-heading{
    font-size: 23px;
  }
  .portfolio-list li {
    padding-right: 12;
    padding-left: 5px;
    font-size: 14px;
  }
}
  @media (max-width:240px){
    .portfolio-box{
      margin: auto;
     margin-bottom: 20px;
     width: 80%;
    }
  
}
/* ======= F.A.Q Section =======  */


#faq {
  padding:0px;
  background-color: #fef8f5;
}

.faq-container {
  margin: 0px;
  padding: 26px 0px 0px 0px;
  /* border: 5px solid red; */
}

.faq-title {
  text-align: center;
  padding: 0px;
  margin: 0px;
  color: #c2b7b1;
  font-size: 15px;
  font-weight: 500px;
  line-height: 20.0px;
  /* border: 5px solid orange; */
}

.faq-sub-title {
  font-size: 33px;
  font-weight: 600px;
  /* padding-top: 4px; */
  margin-top: 4px;
  color: #000;
  margin-bottom: 3px;
  /* padding-bottom: 10px; */
  position: relative;
}

#faq hr {
  width: 5%;
  align-items: center;
  border: 4px solid #ef7f4d;
  border-bottom: none;
}
.faq-list{
  margin-top: 50px;
}

.faq-list li {
  list-style-type: none;
  padding: 0 0 20px 25px;
  display: block;
  position: relative;
  font-size: 20px;

}

.faq-list-1 {
  color: #eb5d1e;
}

.faq-list-2 {
  background-color: #e5e5e5;
  font-size: 15px !important;
}

.faq-list-3 {
  /* border: 5px solid greenyellow; */
  margin-top: 70px;
}


.faq-list p {
  padding-top: 5px;
  margin-bottom: 20px;
  font-size: 15px;
}
@media(max-width:768px){
 
  
  .faq-container {
    margin: 0px;
    padding: 26px 0px 0px 0px;
    /* border: 5px solid red; */
  }
  
  .faq-title {
    text-align: center;
    padding: 0px;
    margin: 0px;
    color: #c2b7b1;
    font-size: 13px;
    font-weight: 500px;
    line-height: 20.0px;
    /* border: 5px solid orange; */
  }
  
  .faq-sub-title {
    font-size: 30px;
    font-weight: 600px;
    /* padding-top: 4px; */
    margin-top: 4px;
    color: #000;
    margin-bottom: 3px;
    /* padding-bottom: 10px; */
    position: relative;
  }
  
  #faq hr {
    margin-top: 16px;
    width: 8%;
    align-items: center;
    border: 4px solid #ef7f4d;
    border-bottom: none;
  }
  .faq-list{
    margin-top: -3px;
    padding: 30px;
  }
  
  .faq-list li {
    list-style-type: none;
    padding: 0 0 20px 25px;
    display: block;
    position: relative;
    font-size: 20px;
  
  }
  
  .faq-list-1 {
    color: #eb5d1e;
  }
  
  .faq-list-2 {
    background-color: #e5e5e5;
    font-size: 15px !important;
  }
  
  .faq-list-3 {
    /* border: 5px solid greenyellow; */
    margin-top: 70px;
  }
  
  
  .faq-list p {
    padding-top: 5px;
    margin-bottom: 20px;
    font-size: 15px;
  }
}
 

@media(max-width:470px){
  .faq-sub-title{
    font-size: 10px;
  }
  .faq-sub-title{
    padding-top: 10px;
    font-size: 24px;
  }

  #faq hr{
    width: 8%;
    /* margin-top:-14px; */
  }
  .faq-title{
    line-height: 0px;
  }
  .faq-list li{
    font-size: 14px;
  }
  .faq-list-1  .para1{
    font-size: 12px;
  }
  .faq-list p{
    font-size: 14px;
  }
  .faq-list-2{
    font-size: 17px;
  }
  .faq-list-3{
    font-size: 14px;
  }
}

@media(max-width:410px){
  .faq-sub-title{
    font-size: 8px;
  }
  .faq-sub-title{
    padding-top: 10px;
    font-size: 18px;
  }

  #faq hr{
    width: 8%;
    /* margin-top:-14px; */
  }
  .faq-title{
    font-size: 8px;
    line-height: 0px;
  }
  .faq-list li{
    font-size: 12px;
  }
  .faq-list-1{
    font-size: 14px;
  }
  .faq-list-1  .para1{
    font-size: 10px;
  }
  .faq-list p{
    font-size: 14px;
  }
  .faq-list-2{
    font-size: 15px;
  }
  .faq-list-3{
    font-size: 12px;
  }
}
/* ======= Team Section =======  */
#team {
  background: #fff;
  display: flex !important;
  flex-direction: wrap;
  /* border: 5px solid black;  */
}

.team-container {
  margin-top: -40px;
  display: flex;
  flex-direction: column;
  /* border: 5px solid brown; */
}
.team-container h2{
  font-size: 20px;
  text-align: center;
  color: #c2b7b1;
}
.team-container p{
  /* padding-top: 20px; */
  font-size: 25px;
  text-align: center;
}


#team hr {
  margin-top: -23px;
  width: 3%;
  align-items: center;
  border: 4px solid #ef7f4d;
  border-bottom: none;
}

.team-title h2 {
  text-align: center;
  color: #c2b7b1;
}

.team-title p {
  padding-bottom: 15px;
  text-align: center;
  margin-bottom: 15px;
  position: relative;
  font-size: 24px;
  font-weight: 700;
  color: #4e4039;
  margin-top: -17px;
  /* border: 5px solid red; */
}

.team-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 23px;
  padding:0px 50px;
  /* border: 5px solid pink; */
  justify-content: space-around;
}

.team-box {
  display: flex !important;
  align-items: stretch !important;
  width: 21%;
  padding: 0px;
  border-radius: 15px;
  box-shadow: 5px white;
  /* border: 5px solid greenyellow; */
  overflow: hidden;
}

.team-box img {
  width: 100%;
}
/* ======= Team-rwd =======  */
@media (max-width:768px){

.team-row{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-box{
margin-bottom: 10px;
width: 70%;
}
.team-box img{
  width: 100%;
  }
  #team hr {
    margin-top: -23px;
    width: 6%;
  
  }
  }

  @media (max-width:386px){
    .team-title p{
      padding-top: 5px;
      font-size: 18px;
    }
    .team-title h2{
      font-size: 15px;
    }
    .team-row{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    .team-box{
    margin-bottom: 10px;
    width: 100%;
    }
    .team-box img{
      width: 100%;
      }
      #team hr {
        margin-top: -23px;
        width: 7%;
      
      }
    }
    @media (max-width:270px){
      .team-title p{
        padding-top: 5px;
        font-size: 14px;
      }
    }


/* ======= Clients Section =======  */

#client {
 padding-top: 15px;
 margin: 0px;
  background-color:#fef8f5;
  overflow-y: hidden;
  /* border: 5px solid greenyellow; */
}

.client-title {
  text-align: center;
  margin: 5px 5px 90px 5px;
  padding: 0px 5px 5px 5px;
  color: #c2b7b1;
  font-size: 16px;
  font-weight: 500px;
  /* border: 5px solid orange; */
}

.client-heading {
  margin: 0px 5px 0px 5px;
  padding: 0px 5px 0px 5px;
}
.client-hr{
  width: 4%;
  align-items: center;
  border: 4px solid #ef7f4d;
  border-bottom: none;
}

.client-sub-title {
  font-size: 35px;
  font-weight: 600px;
  color: #000;
  margin: 0px 5px 5px 5px;
  padding: 0px 5px 5px 5px;
  position: relative;
  margin-top: 0px;
}

 .client-hr2 {
  border-style: none;
  border-top-style: dotted;
  border-color: #ef7f4d;
  border-width: 10px;
  width: 5%; 
  /* padding-left: 5px;
  margin-right:5px; */
  align-items: center;
}
/* =======Client-RWD=======  */
@media (max-width:768px){

  #client {
    padding-top: 14px;
 
   }
   
   .client-title {
    font-size: 14px;
  }
  
   .client-hr{
     width: 5%;
   }
   
   .client-sub-title {
     font-size: 28px;
   }
   
    .client-hr2 {
     border-width: 10px;
     width: 10%;
     align-items: center;
   }
}
@media (max-width:559px){
  .client-hr{
    width: 9%;
  }
  .client-hr2 {
    border-width: 10px;
    width: 14%;
    align-items: center;
    margin-bottom: 0px;
  }
}

@media (max-width:238px){
  .client-sub-title {
    font-size: 23px;
  }
  .client-hr{
    width: 15%;
  }
  .client-hr2 {
    border-width: 8px;
    width: 25%;
  }
}
/* ======= Contact Us Section =======  */
.contact {
  width: 100%;
  padding: 5px;
  margin: 0px;
  display: flex !important;
  align-items: center;
  overflow: hidden;
  /* border: 5px solid black; */
}

.contact-container {
  width: 100%;
  padding: 5px;
  margin: 5px;
  /* border: 5px solid red; */
}

.contact-title {
  text-align: center;
  margin: 5px 5px 90px 5px;
  padding: 0px 5px 5px 5px;
  color: #c2b7b1;
  font-size: 16px;
  font-weight: 500px;
  /* border: 5px solid orange; */
}

.contact-heading {
  margin: 0px 5px 0px 5px;
  padding: 0px 5px 0px 5px;
}

.contact-sub-title {
  font-size: 35px;
  font-weight: 600px;
  color: #000;
  margin: 0px 5px 5px 5px;
  padding: 0px 5px 5px 5px;
  position: relative;
  margin-top: 0px;
}

.contact-row {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  /* flex-direction:row; */
  flex-wrap: wrap;
  margin: -65px 5px 5px 5px;
  /* margin: auto; */
  /* padding-left:10%; */
  /* padding-right: 30px; */
  /* justify-content: space-around; */
  justify-content: space-between;
  /* border: 5px solid yellow; */
}

.contact-col-1 {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  align-items: stretch;
  width: 45%;
  height: 90vh;
  margin: auto;
  padding: 20px;
  /* border: 5px solid green; */

}

.contact-col-2 {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 45%;
  height: 90vh;
  margin:auto;
  padding: 20px;
  /* border: 5px solid pink; */
}

.contact-info {
  border-top: 3px solid #eb5d1e;
  border-bottom: 3px solid #eb5d1e;
  padding-bottom: 5px;
  margin-bottom: 5px;
  padding: 1px;
  background: #fff;
  height: 100vh;
  width: 100%;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12)
}

.contactpage {
  height: 40vh;
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 10px;
  border: 5px solid b;
  text-align: center;
  padding-top: 60px;
  color: #8d8d8d !important;
  background-color: #e0e0e0 !important;
  border-radius: 2px;
  /* border-bottom: 3px solid #eb5d1e; */
  position: relative;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12)
}

.contactpage-heading {
  font-size: 24px;
  color: #484848 !important;
}

.contact-icon {
  margin-top: 0px;
  margin-bottom: 0px;
}

.contactpage-para {
  color: #585858 !important;
  font-size: 15px !important;
}

.boxform {

  border-radius: 6px;
  color: #fff;
  border: 2px solid #fff;
  background-color: #e0dfdf;
  display: flex;
  padding-left: 10px;
  margin-left: 20px;
  margin-bottom: 50px;
  margin-top: -70px;
  width: 40px;
  height: 60px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.contact-info h4 {
  padding: 0 0 0 60px;
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #7a6960;
}

.contact-info p {
  padding: 0 0 0px 60px;
  margin-bottom: 15px;
  font-size: 14px;
  color: #ab9d95;
}

.contact-info .email p {
  padding-top: 5px;
}




.form-row-1 {
  border-top: 3px solid #eb5d1e;
  border-bottom: 3px solid #eb5d1e;
  padding: 30px;
  background: #fff;
  height: 80vh;
  width: 92%;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12)
}

.contact-row-1 {
  display: flex;
  /* flex-direction:column; */
  flex-wrap: wrap;
  width: 100%;
  height: 10vh;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 0px;
  padding-right: 0px;
  padding-left: 0px;
  /* justify-content: space-around; */
  /* justify-content: space-between; */
  /* border: 5px solid brown; */
}

.contact-row-1 input{
  width: 103%;
}
.form-col-1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 45%;
}

.form-col-2 {
  margin-left: 25px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 45%;

}

label {
  padding-bottom: 10px;
  display: inline-block;
  cursor: default;
}

.form-input {
  height: 20px;
  display: block;
  width: 100%;
  padding: 5px 5px 5px 5px;
  font-weight: 300;
  line-height: 1;
  color: #000;
  background-color: #fff;
  border: 1px solid #ced4da;
}

.form-row-2 {
  margin: 10px 0px 5px 5px;
  padding: 0px 25px 5px 0px;
  width: 100%;
  box-sizing: border-box;
  /* border: 5px solid violet; */
}

.form-row-3 {
  margin: 10px 0px 30px 5px;
  padding: 0px 25px 5px 0px;
  width: 100%;
  box-sizing: border-box;
  /* border: 5px solid green; */

}

.form-row-3 .form-input {
  height: 30vh;
}


.contact-btn-form {

  margin: auto;
  text-align: center !important;
  background: #eb5d1e;
  border: 0;
  padding: 10px 15px;
  color: #fff;
  border-radius: 4px;
  width: 20%;
  height: 30px;
}

/* =======Contact-Rwd =======  */
@media(max-width:1280px){
  .contact-row{
    display:flex;
    flex-direction: column;
    align-items: center;

  }
  .contact-col-1{
    padding-bottom: 50px;
  }
  .contact-sub-title{
    font-size: 35px;
  }

  .form-row-1{
    /* height: 96vh; */
    width: 89%;
  }
  /* .contact-col-2{
    padding-right: 0px;
    padding-left: 0px;
  } */
  /* .contact-row-1{
    height: 12vh;
  } */
  .contact-row-1 label{
    padding: 5px;
    font-size: 20px;
  }

  .contact-row-1 input{
    width:95%;
  }
  .form-col-1 input{
    width:100%;
  }
  .form-col-2 input{
    margin-left: -4px;
    width:100%;
  }


  .form-row-2 label{
    padding-top: 30px;
    font-size: 20px;
  }

 
  .form-row-3 label{
    font-size: 20px;
  }
  .form-input{
    height: 20px;
  }
  .contact-btn-form{
    width: 29%;
    font-size: 18px;

  }
  .contact-btn-form{
    padding: 10px 10px;
    margin-top: -20px;
  }
  }
  @media(max-width:1122px){
.contact-col-1{
  width: 60%;
}
.contact-col-2{
  width: 61%;
}
.contact-row-1 input{
  width:100%;
}
.form-col-1 input{
  width: 100%;
}
.form-col-2 input{
  width: 100%;
}
  }
  @media(max-width:793px){

  }
  @media(max-width:793px){
    .contact-btn-form{
      font-size: 14px;
      padding: 7px 7px;
      width: 17;
    }
    .contact-heading{
      font-size: 28px;
    }
    
    .contact-sub-title{
      font-size: 29px;
      margin-bottom: -10px;
    }
    .contact-col-1{
      width: 62%;
    }
    .contact-col-2{
      width: 62%;
    }

    .contactpage-heading{
      font-size: 18px;
 }
 .contactpage-para{
   font-size: 15px !important;
 }
    
    .contact-row-1 label{
      font-size: 15px;
    }
  
    .contact-row-1 input{
      width:96%;
    }
  
    .form-row-2 label{
      font-size: 15px;
    }
  
   
    .form-row-3 label{
      font-size: 15px;
    }
    .form-input{
      height: 28px;
    }
  }
  @media(max-width:685px){
    .contact-col-1{
      width: 64%;
    }
    .contact-row-1 input{
      width:100%;
    }
    .form-col-1 input{
      width: 100%;
    }
    .form-col-2 input{
      width: 90%;
    }
  }
  @media(max-width:579px){
   
  }

  @media(max-width:580px){
    .contact-col-2{
      margin-top: -50px;
      margin-left: 60px;
      width: 67%;
    }
    .contact-col-1{
      width: 67%;
    }
    .contact-sub-title{
      font-size: 25px;
    }
    .contact-info h4{
      font-size: 15px;
    }
    .contact-info p{
      font-size: 12px;
    }

    .contactpage{
      /* height: 50vh; */
      /* width: 100%; */
    }
    .contactpage-heading{
      font-size: 15px;
 }
 .contactpage-para{
   text-align: center;
   font-size: 13px !important;
 }

 .boxform{
   margin-top: -8px;
 }

 .contact-btn-form{
  font-size: 12px;
  padding: 5px 5px;
  width: 50;
}
  }

 @media(max-width:558px){
   .contact-col-1{
     width: 69%;
   }
   .contact-row{
     padding: 20px;
   }
  .contactpage-heading{
    font-size: 12px;
}
  .contactpage-para{
    text-align: center;
    font-size: 10px !important;
    line-height: 1;
  }
  .boxform{
    
  padding: 2px; 
  width: 20px;
  height: 20px;
}
   .form-col-2{
     padding-left: 0px;
     margin-left: 0px;
   }
   .contact-info h4 {
     margin-left: -43px;
   }
   .contact-info p {
    margin-left: -43px;
  }
  .contact-btn-form{
    text-align: center;
    font-size: 10px;
    padding-top: 5px;
    padding-bottom: 0px;
    width: 57%;
  }
 }
 
 @media(max-width:451px){
   .contact-col-2{
     margin-left: 5px;
   }
   .contact-col-1{
    margin-left: 5px;
  }
 }
/* ======= Footer =======  */
.footer {
  padding: 0 0 30px 0;
  margin:0px;
  color: #212529;
  font-size: 14px;
  /* border:5px solid black; */
}

.footer-section {
  padding: 50px 0;
  background: #fef8f5;
  text-align: center;
  font-size: 15px;
  /* border: 5px solid red; */
}


.footer-content {
  margin:5px;
  padding: 5px;
  /* border: 5px solid orange; */
}

.footer-title {
  font-size: 26px;
  margin: -8px 0 20px 0;
  padding: 0px;
  line-height: 1;
  font-weight: 600;
  color: #4e4039;
  text-align: center;
}

.footer-content p{
  font-size: 18px;
  text-align: center;
  font-weight: 500;
}
.row-foot-1{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  position: relative;
  padding: 0px 60px;
  margin: auto;
}

.footer-form-1 {
  display: flex;
 position: absolute;
  width: 40%;
  margin: auto;
  margin-top: 32px;
  background: #fff;
  /* padding: 6px 188px; */
  position: relative;
  border-radius: 8px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  /* text-align: left; */
  /* border: 5px solid gray; */
}

.footer-form-1 input[type="email"] {
  margin-top: 23px;
  border: 0;
  width: 90%;
  align-items: center;
  /* position: absolute; */
}

.row-foot-1 .btn-foot-a {
      border: none;
      font-size: 16px;
      padding: 0 20px;
      background-color:  #eb5d1e;
      color: #fff;
      border-radius: 4px;
      box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
  }


/* ======= Footer-RWD=======  */
@media(max-width:1248px){
  .footer-form-1 {
    width: 50%;
  }
  
  .footer-form-1 input[type="email"] {
    width: 90%;
  }
  
  .row-foot-1 .btn-foot-a {
        border: none;
        font-size: 16px;
      }
  
}

@media(max-width:983px){
  .footer-form-1 {
    width: 90%;
  }
  
  .footer-form-1 input[type="email"] {
    width: 100%;
  }
  
  .row-foot-1 .btn-foot-a {
        border: none;
        font-size: 16px;
      }
  
}

@media(max-width:690px){
  .footer-title {
    font-size: 26px;
   
  }
  
  .footer-content p{
    font-size: 14px;
  
  }
}
@media(max-width:490px){
  .footer-title {
    font-size: 23px;
   
  }
  
  .footer-content p{
    font-size: 13px;
  
  }
  .footer-form-1 {
    width: 100%;
  }
  
  .footer-form-1 input[type="email"] {
    width: 100%;
  }
  .row-foot-1{
   
    padding: 0px 30px;
  }
  .row-foot-1 .btn-foot-a {
    border: none;
    font-size: 14px;
    padding: 0 15px;
   
}

}

/* ======= Footer-mid =======  */

.footer-mid {
  padding: 30px 0 30px 0;
  background: #fff;
  /* border: 5px solid black; */
}


.row-footer-1 {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  justify-content: center !important;
  padding-bottom: 50px;
  margin-top: 0px;
  margin-left: 5px;
  margin-right: 10px;
  /* border: 5px solid pink; */
  overflow: hidden;
}

.row-footer-1 h4 {
  font-size: 22px;
  margin: 0 0 10px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;

}

.footer-mid-col-1 {
  margin:5px;
  padding: 5px;
  width: 20%;
  /* border: 2px solid orange; */
  line-height: 1.5;
  /* height: 40vh; */
}

.footer-mid-col-1 ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  line-height: 30px;
}

.footer-mid-col-1 ul li a{
  text-decoration: none;
  line-height: 1.5;
  color: #000;
}


.footer-mid-col-1 p {
  font-weight: 700px;
}

.footer-mid-col-1 img {
  margin-top: 3px;
  width: 93%;
  margin-left: -15px;
  overflow: hidden;
}

.row-footer-1 p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  color: #5c5c5c;
}


/* ======= Footer-mid-rwd ======= */
@media(max-width:939px){
 
  .row-footer-1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    justify-content: center !important;
    padding-bottom: 50px;
   }
   
  
  .row-footer-1 h4{
     font-size: 20px;
}
.footer-mid-col-1{
/* text-align: center;  */
  width: 50%;
  line-height: 1.o;
}
.footer-mid-col-1 ul{
  padding-left: 30px;
}
.footer-mid-col-1 h4{
  display: block;
  padding-left: 30px;
}
.footer-mid-col-1 p{
  padding-left: 30px;
}
.footer-mid-col-1 img {
  padding: 20px;
  margin-top: 3px;
  width: 50%;
  margin-left: 5px;
  overflow: hidden;
}
} 

@media(max-width:466px){
  .footer-mid-col-1{
      width: 70%;
      line-height: 1.o;
    }
    .footer-mid-col-1 ul{
      padding-left: 0px;
    }
    .footer-mid-col-1 h4{
      padding-left: 0px;
    }
    .footer-mid-col-1 p{
      padding-left: 0px;
    }
    .footer-mid-col-1 img {
      width: 50%;
      padding: 0px;
      margin: 0px;
     
    }
 
}

/* ======= Footer-last ======= */

.footer-last {
  background-color: #fdf8f4;
  /* align-items: center !important; */
  /* display: flex !important;
  flex-wrap: wrap;
  justify-content: space-between !important; */
  width: 100%;
  height: 20vh;
  background: #fef8f5;
  margin: 72px 0px -72px 0px;
  /* border: 5px solid blue; */
  /* position: relative; */
}

.copyright {
  margin-top: 20px;
  float: left;
  margin-left: 100px;
  width: 25%;
  /* border: 2px solid orange; */
}

.footer-last-content {
float: right;
margin-top: 20px;
  width: 25%;
  /* border: 2px solid green; */
}

.footer-last-content-1 {
  color: #eb5d1e;
} 

/* 
@media (max-width: 720px) {
  .copyright {
    width: 60%;
    text-align: center;
    padding-bottom: 0px;
    height: 9vh;
    margin-top: 31px;
    margin-bottom: -88px;
    font-size: 16px;
    margin-left: -38px;
  }
} */

/* @media (max-width: 720px) {
  .footer-last-content {
    margin: auto; 
    padding-top: 0px; 
    font-size: 16px;
    margin-bottom: 13px;
    margin-top: 38px;
    width: 35%;
    height: 7vh;
    margin-left: 60px;
    padding-left: 4px;
  }
} */